<!DOCTYPE html>
<body>
  <h1>Get Set Value</h1>

  <div class="section">
    <div class="field">
      <h2>Current Value Of Name is: {{ displayName }}</h2>
    </div>

    <input
      class="field"
      type="text"
      (input)="setName($event)"
      placeholder="Enter Name"
    />
    <button class="field" (click)="getName()">GetName</button>
  </div>

  <div class="section">
    <div class="field">
      <h2>Current Value Of Email is: {{ displayEmail }}</h2>
    </div>

    <input
      class="field"
      value="{{ email }}"
      type="text"
      placeholder="Enter Email"
      #emailInput
    />
    <button class="field" (click)="getEmail(emailInput.value)">GetEmail</button>
  </div>
</body>
